@model Services.ViewModel.IndexViewModel

@{
    ViewData["Title"] = "Royal Canyon Consulting";
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    @foreach (var item in Model.Sliders)
    {
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
            <h1>@item.Title</h1>
            <h2>@item.Description</h2>
            <a href="#" class="btn-get-started scrollto">Get Started</a>
        </div>
    }

</section><!-- End Hero -->
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                    <img src="~/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                    <h3>WELCOME TO ROYAL CANYON CONSULTING</h3>
                    <p class="fst-italic">
                        Royal Canyon Consulting has been established in 2014 as a corporation. At the very beginning we started as a construction company. After delivering many successful projects, we have expanded the company and added to our specialties including property development and various types of residential and commercial buildings inspections.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Soil reinforcement and stabilization projects in different phases is our most recent achievement.</li>
                        <li><i class="bi bi-check-circle"></i> Our staff and sub-contractors are able to deliver you the best result and satisfy all your needs in any of these areas.</li>
                      @*  <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>*@
                    </ul>
                    @*<p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum
                    </p>*@
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">

                <div class="col-lg-4" data-aos="fade-up">
                    <div class="box">
                        <span>01</span>
                        <h4>RESIDENTIAL & COMMERCIAL INSPECTIONS</h4>
                        <p>We inspect residential and commercial buildings of all types and sizes. Choose a company with thousands of successful inspections</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
                    <div class="box">
                        <span>02</span>
                        <h4>PROPERTY DEVELOPMENT</h4>
                        <p>We are proud to invest on development of properties and/or facilitate our clients for their investments in Metro Vancouver on residential development projects.</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="box">
                        <span>03</span>
                        <h4>REINFORCED SOIL STRUCTURES</h4>
                        <p>Consulting and supervision for soil reinforcement and stabilizations projects by using new methods like MSE & RSS and products like geosynthetic and/or steel strips with modular facing systems. </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Blog Section ======= -->
    <section id="blog-posts" class="blog-posts">
        <div class="container">

            <div class="section-title">
                <span>Articles</span>
                <h2>Articles</h2> 
            </div>

            <div class="row">

                @if (Model.LastArticles.Count > 0)
                {
  
                    <div class="row">
                         
                            @foreach (var item in Model.LastArticles)
                            {
                                <article class="entry entry-display">
                                    <figure class="entry-media">
                                        <a href="single.html">
                                            <img src="~/img/portfolio/portfolio-1.jpg" alt="image desc">
                                        </a>
                                    </figure><!-- End .entry-media -->

                            <div class="entry-body pb-4 text-center">
                                        <div class="entry-meta">
                                            <a href="#">@item.DateInsert</a>
                                        </div><!-- End .entry-meta -->

                                <h3 class="entry-title">
                                            <a href="single.html">@item.Title.</a>
                                        </h3><!-- End .entry-title -->

                                <div class="entry-content">
                                            <p>@item.Sumary    TSSDFGSDFGDSFGDF</p>
                                            <a href="single.html" class="read-more">Read More</a>
                                        </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </article>

                                <!-- End .entry -->
                            }


                        </div><!-- End .tab-content -->
                    <div class="more-container text-center mb-0 mt-3">
                            <a asp-action="Index" asp-controller="Blog" asp-route-blogCategoryId="@Model.LastArticles.First().BlogCategoryId" class="more-btn"><span>View more articles</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .more-container -->
       

                    <!-- End .container -->
                }

            </div>

        </div>
    </section><!-- End Services Section -->

        <!-- ======= Blog Section ======= -->
    <section id="blog-posts" class="blog-posts">
        <div class="container">

            <div class="section-title">
                <span>Blog</span>
                <h2>Blog</h2> 
            </div>

            <div class="row">

                @if (Model.LastArticles.Count > 0)
                {
  
                    <div class="row">
                         
                            @foreach (var item in Model.LastBlog)
                            {
                                <article class="entry entry-display">
                                    <figure class="entry-media">
                                        <a href="single.html">
                                            <img src="~/img/portfolio/portfolio-1.jpg" alt="image desc">
                                        </a>
                                    </figure><!-- End .entry-media -->

                            <div class="entry-body pb-4 text-center">
                                        <div class="entry-meta">
                                            <a href="#">@item.DateInsert
                                        </div><!-- End .entry-meta -->

                                <h3 class="entry-title">
                                            <a href="single.html">@item.Title.</a>
                                        </h3><!-- End .entry-title -->

                                <div class="entry-content">
                                            <p>@item.Sumary    TSSDFGSDFGDSFGDF</p>
                                            <a href="single.html" class="read-more">Read More</a>
                                        </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </article>

                                <!-- End .entry -->
                            }


                        </div><!-- End .tab-content -->
                    <div class="more-container text-center mb-0 mt-3">
                            <a asp-action="Index" asp-controller="Blog" asp-route-blogCategoryId="@Model.LastBlog.First().BlogCategoryId" class="more-btn"><span>View more Blog</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .more-container -->
       

                    <!-- End .container -->
                }

            </div>

        </div>
    </section><!-- End Services Section -->

</main>
 