@model Data.DTO.BaseProduct.GenderProductTypeDTO

@Html.HiddenFor(c => c.Id)
@Html.HiddenFor(c => c.IsActive)
@Html.HiddenFor(c => c.DateInsert)
@Html.HiddenFor(c => c.Image)
@Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @*<div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(c => c.CategoryList)
                    <select asp-for="ProductCategoryId" asp-items="Model.CategoryList" class="form-control input-rounded SearchDropDown">
                        <option>انتخاب نمایید</option>
                    </select>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(c => c.BrandList)
                    <select asp-for="ProductBrandId" asp-items="Model.BrandList" class="form-control input-rounded SearchDropDown">
                        <option>انتخاب نمایید</option>
                    </select>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(c => c.Unit)
                    <select asp-for="Unit" asp-items="Html.GetEnumSelectList<Common.AllEnum.Products.ProductUntit>()" class="form-control input-rounded SearchDropDown ">
                        <option selected="selected" value="">لطفا انتخاب کنید</option>
                    </select>
                </div>
            </div>
        </div>*@
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Name">عنوان</label>
                <input asp-for="Name" type="text" class="form-control input-rounded" />
            </div>

            <div class="col-md-6">
                <label asp-for="Image">تصویر</label>
                <input asp-for="Image" type="file" class="form-control input-rounded" />
            </div>
        </div>
    </div>
</div>
