@model Data.DTO.User.AddOrRemoveClaimViewModel
@{
    ViewData["Title"] = "AddUserToClaim";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

   
}



<div class="page-wrapper">
    @await Html.PartialAsync("_DashboardTitle")
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-primary">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">فرم @ViewData["Title"]</h4>
                    </div>
                    <div class="card-body">
                     
                        <form asp-controller="@controllerName" asp-action="AddUserToClaim" class="mt-4" method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            @if (!Model.UserClaims.Any())
                            {
                                <h1>یافت نشد "Claim" هیج</h1>
                            }
                            else
                            {

                                @for (int i = 0; i < Model.UserClaims.Count; i++)
                                {
                                    <div class="form-group">
                                        <input asp-for="@Model.UserClaims[i].IsSelected" />
                                        <label>@Model.UserClaims[i].ClaimType</label>

                                        <input type="hidden" asp-for="@Model.UserClaims[i].ClaimType" />
                                    </div>
                                }
                                <input type="hidden" asp-for="@Model.UserId" />
                                <button class="btn btn-primary" type="submit">ثبت</button>
                            }
                            <a asp-controller="@controllerName" asp-action="Editpage" asp-route-Id="@Model.UserId" class="btn m-btn--pill m-btn--air btn-danger color-white cursor-pointer">بازگشت</a>
                        </form>
                     

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
